*
{
    box-sizing: border-box;
    margin:0;
}

#sidebar
{
    display: none;
    position: fixed;
    height:100%;
    width: 200px;
    text-align: center;
    background-color: rgb(24, 24, 24);
    animation:bar 0.5s;
    z-index: 2;
}

i.x
{
    color:red;
    padding:10%;
    font-size:large;
}
i.x:hover
{
    color:red;
    background-color: rgb(39, 21, 21);
    transform: scale(1,1.1);
}

a.op
{
    color:white;
    text-decoration: none;
    padding:10%;
}
a.op:hover
{
    color:white;
    background-color: black;
    transform: scale(1,1.07);
}

@keyframes bar
{
    from{width:0px;}
    to{width:200px;}
}


.bar
{
    padding:15px;
    position: absolute;
}

.heading
{
    color:white;
    text-align: center;
}

header
{
    width: 100%;
    padding:10px;
    background-color: black;
    box-shadow: 0 1px 4px 0 black, 0 1px 8px 0 black;
    position: fixed;
    z-index: 1;
}

.news
{
    position: absolute;
    top:8%;
    background-color: white;
}

.slideshow
{
    position: relative;
    left:20%;
    width:60%;
    text-align: center;
}

.slidetitle
{
    position: absolute;
    top:5%;
    font-size:large;
}

.slidebar
{
    padding:1%;
    background-color: black;
}

.left
{
    float:left;
    color:white;
}

.center
{
    color:white;
    text-align: center;
}

.right
{
    float:right;
    color:white;
}

h2
{
    margin-bottom:1%;
}

a.more
{
    text-decoration: none;
    color:white;
    border:2px solid white;
    padding: 1%;
    font-size: medium;
}

a.more:hover
{
    background-color: white;
    color:black;
}

.s
{
    position:absolute;
    right:0;
    width:17%;
    height:40em;
    overflow: auto;
    text-align: center;
    padding:1%;
    margin:0.5em;
    background-color: rgb(24, 24, 24);
    border: 2px solid black;
}

.extra
{
    border:2px solid white;
    margin: 5% 0 5% 0;
}

.extra:hover
{
    transform: scale(1.01,1.01);
}

.extra:hover .t
{
    display: block;
}

img.m
{
    box-shadow: 0 1px 4px 0 black, 0 1px 8px 0 black;
}

img.m:hover
{
    opacity:0.7;
}

.t
{
    display: none;
    position: absolute;
    font-size:1em;
    text-align: center;
    line-height: 100%;
    bottom:0;
    left:0;
    right:0;
    top:70%;
    color:white;
    background-color: rgba(0, 0, 0, 0.86);
}

.b1:hover
{
    background-color: black;
}

.b1
{
   float: left;
    width:80%;
    box-shadow: 0 1px 4px 0 grey, 0 1px 8px 0 black;
    background-color: rgb(24, 24, 24);
    color:white;
    margin:1%;
    padding:1%;
    margin:0.5em;
    font-size: large;
    text-align: justify;
}

#contact
{
    width: 92%;
    position: absolute;
    top:8%;
    margin:3%;
    padding: 3%;
    background-color: black;
    overflow: auto;
}

form
{
   font-size: large;
   color:white;
}

input
{
    height: 30px;
    width: 50%;
    font-size: medium;
    border: 2px solid white;
    outline:none;
    background-color: rgba(0, 0, 0, 0.704);
    color:white;
    transition: 0.5s;
}

textarea
{
    width: 50%;
    border: 2px solid white;
    outline:none;
    background-color: rgba(0, 0, 0, 0.704);
    color:white;
    transition: 0.5s;
}

input[type="submit"]
{
    width: 10%;
}

input[type="submit"]:hover
{
    background-color: white;
    color:black;
}

input:focus
{
    background-color: white;
    color:black;
}

textarea:focus
{
    background-color: white;
    color:black;
}

.footer
{
    position: fixed;
    bottom:0;
    text-align: center;
    background-color: black;
    width: 100%;
}

a.footer
{
    text-decoration: none;
    color: white;
}